.parent {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    width:100%;

    min-height:100vh;

    padding-bottom:5em;
}

/* #region top-bar */
#top-bar {
    display:flex;
    justify-content: space-between;
    align-items: center;

    width:calc(100% - 6ch);
    height:var(--topbar-height);
}

#top-bar div {
        display:flex;
        justify-content: flex-start;
        align-items: center;
}

#top-bar div img {
    height:2.5em;
    width:2.5em;
}

#top-bar div h4 {
    margin-right:1ch;
}

#top-bar div h4 #balance {
    margin-right:2ch;
}
/* #endregion */

/* #region search-query */
#search-query {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width:calc(100% - 6ch);
    padding:1em 1ch;

    border-radius:var(--border-radius);

    border-style:solid;
    border-width:2px;

    border-color:var(--border-colour);
}

#search-query hr {
    background:var(--border-colour);

    opacity: 0.8;
    border-style:none;
    border-radius:1000px;

    margin:0.7em 0;

    height:0.15em;
    width:calc(100% - 3ch);
}

#search-query input {
    border:none;
    border-collapse: none;

    border-radius:var(--border-radius);
    padding: 0.2em 1ch;

    background:#aaa2;

    color:var(--primary);

    width:calc(100% - 2ch);

    font:inherit;
    font-size:1.5em;

    margin:0 1ch;
}

#search-query #tag-section {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;

    width:100%;
}

#search-query #tag-section #selection-section {
    position:relative;

    margin:0 1.5ch;
}

#search-query #tag-section #selection-section input {
    width:20ch;

    margin:0;
}
    
#search-query #tag-section #selection-section:has(#search:placeholder-shown) #selection-container {
    display:none;
}

#search-query #tag-section #selection-container {
    display:inline-block;

    background:#000c;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    filter:drop-shadow(0 0 20px #000);

    position:absolute;

    margin-top:0.5em;
    width:30ch;
    padding:1ch;

    border-radius:var(--border-radius);

    border-style:solid;
    border-color:var(--border-colour);
    border-width:2px;

    z-index: 100;

    & h4 {
        width:fit-content;

        font-size:1em;
    }
}   
/* #endregion */

/* #region tags */
.tag {
    display:inline-block;

    position: relative;

    width:fit-content;

    cursor:pointer;

    margin-right:1ch;
    margin-bottom:0.4em;
    padding:0.2em 1ch;

    border-radius:var(--border-radius);
    border-style:solid;
    border-width:1.5px;
    border-color:var(--primary);
}

.tag:hover h4 {
    opacity: 0.4;
}

.tag:hover h4:last-child {
    opacity: 1;
}

.tag h4 {
    font-size:1.2em;

    transition-duration: 0.3s;
}

.tag h4:last-child {
    opacity: 0;

    position: absolute;

    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
/* #endregion */

#collection {
    text-align: center;

    width:calc(100% - 5ch);
}

/* #region item */
.item {
    display:inline-block;

    position:relative;

    background:var(--secondary);
    width:60ch;
    height:30em;

    font-size:1rem;

    margin:1ch;

    border-radius:var(--border-radius);

    overflow:hidden;
}

.item #thumbnail {
    width:100%;
    height:100%;
    object-fit: cover;
}

.item #details {
    position:relative;

    display:flex;
    justify-content: center;
    align-items: end;

    height:50%;
    width:100%;

    bottom:100%;

    z-index: 10;
}

.item #details #detailChildren {
    display:flex;
    justify-content: space-between;
    align-items: start;

    flex-direction: column;

    width:100%;
    height:calc(40% - 1em);

    padding:0.5em 2ch;

    background:#000a;

    backdrop-filter:blur(5px);
    -webkit-backdrop-filter: blur(5px);

    overflow:hidden;
}

.item #details #detailChildren > div {
    text-align: start;
}

.item #details #detailChildren #title {
    overflow:hidden;

    font-size:1.7em;

    white-space:nowrap;
    text-overflow:ellipsis;
}

.item #details #detailChildren #tags {
    margin: 0.5em 0;
}

.item .item-tag {
    display:inline-block;

    font-size:1.2em;
    padding:0.1em 1ch;
    margin:0 1ch 0.3em 0;

    background:#0005;

    border-radius:var(--border-radius);

    border-style:solid;
    border-width:1px;
    border-color:var(--primary);
}

.item #details #detailChildren #footer {
    display:flex;
    justify-content: space-between;
    align-items: center;

    width:100%;

    margin-bottom:0.5em;
}

.item #details #detailChildren #footer h4 {
    font-size:1.3em;
}

.item #details #detailChildren #footer > div {
    display:flex;
    justify-content: start;
    align-items: center;
}

.item #details #detailChildren #footer #date {
    margin-right:1ch;
}

.item #details #detailChildren #footer #status {
    font-weight:bolder;
}

.item #details #detailChildren #footer #status[data-status="open"] {
    color:limegreen;
}

.item #details #detailChildren #footer #status[data-status="completed"] {
    color:#fffc;
}

.item #details #detailChildren #footer #status[data-status="pending"] {
    color:darkgoldenrod;
}
/* #endregion */