#parent {
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    width:100%;

    min-height:100vh;

    padding-bottom:5em;

    #top-bar {
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        padding:0 3ch;

        height:var(--topbar-height);
        width:calc(100% - 6ch);

        div {
            display:flex;
            justify-content: center;
            align-items: center;
        }

        h4 { 
            margin-right:1ch;
        }

        img {
            height:2em;
        }
    }
}

#action-space {
    display:flex;
    justify-content: center;
    align-items: center;

    /* height:100%; */
    width:100%;

    z-index: 100;

    #search {
        display:flex;
        justify-content: space-evenly;
        align-items: center;

        flex-direction: column;

        padding:1ch 2ch;
        margin-top:1em;

        /* height:9em; */
        /* width:50%; */
        width:calc(100% - 10ch);

        background:var(--secondary);

        border-radius:var(--border-radius);

        #query {
            display:flex;
            justify-content: space-between;
            align-items: center;

            width:100%;

            margin:0.5em 0;
            
            img {
                height:1.8em;
                cursor:pointer;

                margin-left:2ch;
            }
        }

        input {
            background:none;
            border-collapse: none;
            border:none;

            color:white;

            height:1.5em;
            width:100%;

            font-size:1.7em;

            &::placeholder {
                font-style:italic;
            }
        }

        hr {
            background:var(--tertiary);
            width:calc(100% - 1ch);
            height:0.2em;

            padding:0;
            margin:0.4em 0;

            border-collapse: none;
            border:none;

            border-radius:100px;
        }

        #tag-container {
            display:flex;
            justify-content: start;
            align-items: start;

            width:100%;

            margin-top:0.2em;

            #input {
                position:relative;
                width:min-content;

                margin-bottom:0.2em;

                input {
                    width:15ch;
                    padding:0 1ch;

                    background:var(--tertiary);

                    border-radius:var(--border-radius);
                }

                &:has(input:focus) #dropdown, &:has(input:hover) #dropdown, #dropdown:hover {
                    display:block;
                }

                #dropdown {
                    display:none;

                    position:absolute;
                    /* top:calc(100% + 0.5em); */

                    width:fit-content;
                    background:#0007;
                    padding:0 0.2em;

                    border-radius:var(--border-radius);

                    backdrop-filter: blur(10px);

                    h4 {
                        font-size:1.5rem;

                        background:var(--tertiary);

                        width:fit-content;

                        padding:0 1ch;
                        margin:0.2em 0;

                        border-radius:var(--border-radius);

                        cursor:pointer;

                        user-select:none;
                    }
                }
            }

            #tags {
                display:inline-block;
                overflow:auto;

                margin-left:2ch;

                .tag {
                    display:inline-block;

                    position:relative;
                    background:var(--tertiary);

                    margin:0.2em 0.5ch;
                    padding:0 1ch;

                    border-radius:var(--border-radius);

                    cursor:pointer;

                    user-select: none;

                    #cross {
                        opacity: 0;
                        position:absolute;
                        top:0;
                        left:50%;
                        transform:translateX(-50%);

                        transition-duration:0.3s;
                    }

                    h4 {
                        font-size:1.5rem;
                    }

                    #title {
                        opacity: 1;

                        width:max-content;

                        transition-duration:0.2s;
                    }

                    &:hover {
                        #cross {
                            opacity: 1;
                        }

                        #title {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

#collection {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;

    margin-top:1em;
    width:calc(100% - 10ch);

    .item {
        position:relative;

        background:var(--secondary);
        width:50ch;
        height:30em;

        margin:1ch;

        border-radius:var(--border-radius);

        overflow:hidden;

        #thumbnail {
            width:100%;
            height:100%;
            object-fit: cover;
        }

        #details {
            position:relative;

            display:flex;
            justify-content: center;
            align-items: end;

            height:100%;
            width:100%;

            bottom:100%;

            z-index: 10;

            /* background:linear-gradient(#0000, #0000, #0000, #0000, #0000, #0000, var(--secondary), var(--secondary), var(--secondary), var(--secondary)); */

            & > div {
                display:flex;
                justify-content: space-between;
                align-items: start;

                flex-direction: column;

                height:calc(40% - 1em);
                width:calc(100% - 4ch);

                padding:0.5em 2ch;

                background:var(--secondary);

                overflow:hidden;

                #title {
                    overflow:hidden;

                    font-size:1.7rem;

                    white-space:nowrap;
                    text-overflow:ellipsis;
                }

                #tags {
                    margin: 0.5em 0;

                    .item-tag {
                        display:inline-block;
                        background:var(--tertiary);
                        font-size:1.2rem;
                        padding:0.1em 1ch;
                        margin-bottom:0.3em;
    
                        border-radius:var(--border-radius);
                    }
                }

                #footer {
                    display:flex;
                    justify-content: space-between;
                    align-items: center;

                    width:100%;

                    margin-bottom:0.5em;

                    h4 {
                        font-size:1.4rem;
                    }

                    & > div {
                        display:flex;
                        justify-content: start;
                        align-items: center;
                    }

                    #date {
                        margin-right:1ch;
                    }

                    #status {
                        font-weight:bolder;

                        &[data-status="open"] {
                            color:limegreen;
                        }

                        &[data-status="completed"] {
                            color:grey;
                        }

                        &[data-status="pending"] {
                            color:darkgoldenrod;
                        }
                    }
                }
            }
        }
    }
}
